.navbar {
	display: flex;
	justify-content: center;
  	gap: 50px; 
  	background-color: #B3B3B3; 
	padding: 10px;
	font-family: Arial, sans-serif;
	font-size: 25px;
	margin-bottom: 20px;
}

.nav-button {
	color: black;
}

a {
	text-decoration: none;
}
